<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.front.regist.demo.mapper.TbDeviceMapper">
  <resultMap id="BaseResultMap" type="com.qf.front.regist.demo.entity.po.TbDevice">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="device_id" jdbcType="VARCHAR" property="deviceId" />
    <result column="last_active_time" jdbcType="BIGINT" property="lastActiveTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, device_id, last_active_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.front.regist.demo.entity.po.TbDevice">
    insert into tb_device (id, device_id, last_active_time
      )
    values (#{id,jdbcType=INTEGER}, #{deviceId,jdbcType=VARCHAR}, #{lastActiveTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.front.regist.demo.entity.po.TbDevice">
    insert into tb_device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deviceId != null">
        device_id,
      </if>
      <if test="lastActiveTime != null">
        last_active_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deviceId != null">
        #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="lastActiveTime != null">
        #{lastActiveTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.front.regist.demo.entity.po.TbDevice">
    update tb_device
    <set>
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=VARCHAR},
      </if>
      <if test="lastActiveTime != null">
        last_active_time = #{lastActiveTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.front.regist.demo.entity.po.TbDevice">
    update tb_device
    set device_id = #{deviceId,jdbcType=VARCHAR},
      last_active_time = #{lastActiveTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>