<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
    <form action="/hero/insert" method="post">
        <input  name="id" type="hidden"/><br>
        姓名：<input  name="name" type="text"/><br>
        武力值：<input  name="forceValue" type="text"/><br>
        地址：<input  name="addr" type="text"/><br>
        信息：<input  name="info" type="text"/><br>
        <button type="submit">提交</button>



    </form>
</body>
</html>